<launch>
  <!-- INFORMATION_DESK QR -->
  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_qr_information_desk"
        args="-sdf -model qr_information_desk
              -file $(find bookstore_service_robot)/models/qr_information_desk/model.sdf
              -x -2.2 -y -3.4 -z 0.3
              -R 0 -P 0 -Y 3.14"
        output="screen" />

  <!-- SCIENCE_SECTION QR -->
  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_qr_science_section"
        args="-sdf -model qr_science_section
              -file $(find bookstore_service_robot)/models/qr_science_section/model.sdf
              -x -1.2 -y -0.65 -z 0.3
              -R 0 -P 0 -Y 3.14"
        output="screen" />

  <!-- NOVEL_SECTION QR -->
  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_qr_novel_section"
        args="-sdf -model qr_novel_section
              -file $(find bookstore_service_robot)/models/qr_novel_section/model.sdf
              -x 0.05 -y 1.8 -z 0.3
              -R 0 -P 0 -Y 0.0"
        output="screen" />

  <!-- CHECKOUT_AREA QR -->
  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_qr_checkout_area"
        args="-sdf -model qr_checkout_area
              -file $(find bookstore_service_robot)/models/qr_checkout_area/model.sdf
              -x -5.5 -y -2.65 -z 0.3
              -R 0 -P 0 -Y 0.0"
        output="screen" />
</launch>
